/* Define the layout and style for the cards container */
.bookcarpreview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Define the layout and style for the car image card */
.bookcarpreview-form-card-image {
  width: 600px;
  height: 500px;
  margin: 10px;
  box-shadow: 2px 0px 10px 0px #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.bookcarpreview-card-form {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.864);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 0px 10px 0px #ccc;
  text-align: center;
  max-width: 555px;
  height: 443px;
}

.bookcarpreview-wrapper {
  display: flex;
  flex-direction: column;
}

.bookcarpreview-wrapper > h1 {
  font-weight: 600;
  font-size: x-large;
}

.bookcarpreview-wrapper > p {
  font-size: 16px;
}

.bookcarpreview-details-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
